
h2{
    color:tomato
}
#header1{
    color:tomato
}
.header2{
    .heading2{
        color:tomato
    }
}   
#para{
    font-family : Arial, Helvetica, sans-serif
} 
#listo1{
    font-family : cursive
}
.topic{
    font-family : Arial, Helvetica, sans-serif
}
#para{
    background:color yellowgreen
}